---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div
    class="relative bg-indigo-400 flex justify-center items-center h-screen overflow-hidden"
  >
    <div
      class="hidden md:block z-1 absolute inset-0 -top-24 -left-32 rotate-45 rounded-4xl bg-white w-lg h-lg"
    >
    </div>

    <div
      class="z-0 absolute inset-0 -top-96 -right-32 block rotate-20 rounded-4xl bg-indigo-600 w-lg h-lg"
    >
    </div>

    <div class="z-10 flex flex-col gap-y-8 w-64">
      <div class="relative">
        <div class="absolute left-1 top-1/2 -translate-y-1/2">
          <span class="text-xl text-gray-500 mt-1 icon-[bxs--user]"></span>
        </div>
        <input
          type="text"
          placeholder="Username"
          class="bg-indigo-300 pl-6 p-2 border-b-2 border-b-indigo-600"
        />
      </div>

      <div class="relative">
        <div class="absolute left-1 top-1/2 -translate-y-1/2">
          <span class="text-lg text-gray-500 mt-1 icon-[fa6-solid--lock]"
          ></span>
        </div>
        <input
          type="text"
          placeholder="Password"
          class="bg-indigo-300 pl-6 p-2 border-b-2 border-b-indigo-600"
        />
      </div>

      <div class="relative">
        <div class="absolute left-1 top-1/2 -translate-y-1/2">
          <span class="text-lg text-gray-500 mt-1 icon-[tabler--alien]"></span>
        </div>
        <input
          type="text"
          placeholder="edad"
          class="bg-indigo-300 pl-6 p-2 border-b-2 border-b-indigo-600"
        />
      </div>

      <div class="z-10 flex justify-center">
        <div
          class="flex items-stretch bg-white py-2 px-8 rounded-full shadow-lg shadow-indigo-950/50"
        >
          <span class="pr-8 uppercase">Log in Now</span>
          <span
            class="self-center text-xl text-gray-500 icon-[mingcute--right-line]"
          ></span>
        </div>
      </div>
    </div>
  </div>
</Layout>
