---
import Layout from "../../layouts/Layout.astro";
import PseudoClasses from "../../components/PseudoClasses.astro";
---

<Layout>
  <div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-8 text-chocolate-500">
      Demo de Pseudo-clases Tailwind
    </h1>
    <PseudoClasses />
  </div>
</Layout>

<style>
  @reference "tailwindcss";
</style>
